<meta charset="utf-8" />

<head>
    <link rel="stylesheet" href="styles.css">
</head>


<main>

    <header>
        <div class="key-item" style="margin: 0 auto; background: linear-gradient(var(--background), var(--secondary)) padding-box,
              linear-gradient(to right, var(--accent), var(--primary)) border-box;">
            <h1 class="text-grad">Void Team Publications</h1>
        </div>
    </header>


</main>

<footer>
    <small style="padding: 20px"> Contact Me! - jd@void-team.com </small>
</footer>
